.ion-content{
  --background: left top / 100% auto no-repeat url("../../assets/images/explore.jpg");
  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-bottom: 1rem;

  ion-button{
    position: relative;
    margin-top: 1rem;
    z-index: 100;
    margin-bottom: 1rem;
    --border-radius: 0;
  }

  .group{
    z-index: 999;
    position: relative;

    ion-item{
      margin-top: 0.1rem;
      --background: rgba(120,120,120,0.2);
      &.active{
        --background: rgba(241,112,34,0.4);
      }
      &.active-sub{
        --background: rgba(241,112,34,0.2);
      }
      img{
        position: absolute;
        right: 1rem;
        top: 20%;
        height: 60%;
      }
    }
  }
}

.footer{
  z-index: 999;

  ion-tab-button{
    padding-top: 0.2rem;
    svg{
      width: 2rem;
      height: 1.3rem;
      fill: #555;
    }
    &.active{
      color: #FF8000;
      svg{
        fill: #FF8000;
      }
    }
    img{
      width: 1.3rem;
    }
    ion-label{
      font-size: 0.75rem;
      padding-top: 0.2rem;
    }
    div{
      top: 0.1rem;
      right: 20%;
      position: absolute;
      font-size: 0.65rem;
      width: 1.1rem;
      height: 1.1rem;
      background: #B40431;
      border-radius: 50%;
      color: #FFF;
      text-align: center;
      line-height: 1.1rem;
    }
    ion-icon{
      font-size: 1.5rem;
      margin-top: -0.2rem;
    }
    .user{
      ion-label{
        padding-top: 0.1rem;
      }
    }
  }
}
