<ion-content class="jobtitle-content">
  <div class="title">
    <div>Start your <img src="/assets/images/logo-no-bg.png" /></div>
    <div>exploration</div>
  </div>
  <div class="select" *ngIf="!select" (click)="select = true">
    <div class="select-title">Select<div class="select-icon-inner"></div>
    </div>
  </div>
  <div class="select-menu" *ngIf="select">
    <div class="menu-tab" *ngFor="let cat of cats" (click)="selectJob(cat[0].id)">
      <div class="menu-tab-title">{{ cat[0].category }}</div>
      <div class="menu-tab-text" *ngFor="let position of cat">{{ position.name }}</div>
    </div>
  </div>
  <img src="/assets/images/binoculars.png" class="binoculars" *ngIf="!select" />
</ion-content>
