<ion-header>
  <ion-toolbar>
    <ion-title><img src="../assets/images/logo.png" /></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="canvas">
    <canvas id="cvsId"></canvas>
    <div></div>
  </div>
</ion-content>

<ion-tabs class="footer">
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <img src="../assets/images/QUALITY.svg" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <img src="../assets/images/TARGET.svg" />
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <img src="../assets/images/SOLUTIONS.svg" />
      <ion-label>Collect</ion-label>
      <div>10</div>
    </ion-tab-button>

    <ion-tab-button class="user">
      <ion-icon name="ios-contact"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>