ion-title{
  background: #FF8000;

  img{
    width: 50%;
  }
}

.canvas{
  width: 70%;
  height: 30%;
  position: relative;
  left: 15%;
  margin-top: 25%;
  overflow: hidden;

  &:after, &:before{
    content: '';
    border-width: 15vw 17vw;
    border-style: solid;
    border-color: transparent transparent #FFF #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:before{
    left: auto;
    right: 0;
    border-color: transparent #FFF #FFF transparent;
  }
  div{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:after, &:before{
      content: '';
      border-width: 5vw 10vw;
      border-style: solid;
      border-color: #FFF transparent transparent #FFF;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:before{
      left: auto;
      right: 0;
      border-color: #FFF #FFF transparent transparent;
    }
  }
  canvas{
    width: 100%;
    height: 100%;
  }
}
.ion-slides{
  width: 100%;
  position: absolute;
  bottom: 7rem;
  left: 0;
}
.ion-slide{
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  font-size: 1rem;
  position: relative;
  margin-top: 0.5rem;
  transition: 0.3s;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}
ion-slide.swiper-slide-active .ion-slide{
  height: 5rem;
  margin-top: 0;
  font-size: 1rem;
  color: #FF8000;
  border-color: #FF8000;
}

.footer{
  ion-tab-button{
    padding-top: 0.2rem;
    svg{
      width: 2rem;
      height: 1.3rem;
      fill: #555;
    }
    &.active{
      color: #FF8000;
      svg{
        fill: #FF8000;
      }
    }
    img{
      width: 1.3rem;
    }
    ion-label{
      font-size: 0.75rem;
      padding-top: 0.2rem;
    }
    div{
      top: 0.1rem;
      right: 20%;
      position: absolute;
      font-size: 0.65rem;
      width: 1.1rem;
      height: 1.1rem;
      background: #B40431;
      border-radius: 50%;
      color: #FFF;
      text-align: center;
      line-height: 1.1rem;
    }
    ion-icon{
      font-size: 1.5rem;
      margin-top: -0.2rem;
    }
    .user{
      ion-label{
        padding-top: 0.1rem;
      }
    }
  }
}
