// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.skills-content {
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  ion-toolbar{--background: transparent;}
  .title{text-align: center; font-weight: bold;}

  .select-item{
    width: 90%;
    position: relative;
    left: 5%;
    border: 1px solid #DDD;
    margin-bottom: 2vw;
    padding: 3vw;
    background: rgba(255,255,255,0.8);
    margin: 3vw 0;

    .menu-tab-title{
      font-size: 5vw;
      font-weight: 550;
      margin-bottom: 2vw;
    }
    .menu-tab-text{
      font-size: 4vw;
      font-style: italic;
    }
  }

  .swipe-block{
    width: 100%;
    height: auto;
    position: relative;
    padding: 5%;
    padding-top: 0;

    .swipe{
      width: 100%;
      position: relative;

      .swipe-tab{
        background-image: url("../../assets/images/back-t.png");
        background-position: left bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 8%;
        margin-top: 5%;
        text-transform: uppercase;
        border: 1px solid #DDD;
        font-size: 4vw;
        font-weight: bold;
        color: #333;
      }

      &:nth-child(even){
        .swipe-tab{
          background-image: url("../../assets/images/back-b.png");
          background-position: left top;
        }
      }

      .swipe-tab.check{
        text-align: left;
        color: #FF8000;
      }
      .swipe-tab span{
        position: absolute;
        right: 8%;
        top: 14%;
        font-size: 8vw;
        color: #FF8000;
      }
    }
  }

  .next{
    margin: 0 auto;
    width: 15vw;
    height: 15vw;
    border: 1px solid orangered;
    text-align: center;
    line-height: 15vw;
    font-size: 9vw;
    margin-top: 5%;
    background: linear-gradient(to top,orangered, gold);
    color: #FFF;
  }
}
