<ion-content class="skills-content">
  <ion-toolbar class="title">
    <ion-text>Let’s start with popular skills for</ion-text>
  </ion-toolbar>

  <div class="select-item">
    <div class="menu-tab-title">{{ activeSkills.title }}</div>
    <div class="menu-tab-text">{{ activeSkills.text }}</div>
  </div>

  <ion-toolbar class="title">
    <ion-text>Swipe the skills that you have</ion-text>
  </ion-toolbar>

  <div (swipe)="swipeEvent($event)" class="swipe-block">
    <div class="swipe" (pan)="swipePan($event, i)" (panend)="swipeEnd($event)" *ngFor="let skill of activeSkills.skills; let i = index">
      <div [class.check]="skill.check" class="swipe-tab">{{ skill.title }}<span *ngIf="skill.check">&#10004;</span></div>
    </div>
  </div>

  <div class="next" (click)="onClick()" *ngIf="next">&#10149;</div>

</ion-content>