<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title wrap style="font-size: 0.8rem">
      TERMS AND CONDITIONS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="legal-content">
  <p class="p1"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Introduction</strong></span></p>
  <p class="p7"><span class="s1">These Website Standard Terms and Conditions written on this webpage shall manage your use of this website. These Terms will be applied fully and affect to yur use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use</span></p>
  <p class="p7"><span class="s1">this Website if you disagree with any of these Website Standard Terms and Conditions. Minors or people below 18 years old are not allowed to use this Website.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Intellectual Property Rights</strong></span></p>
  <p class="p7"><span class="s1">Other than the content you own, under these Terms, Prisme LLC and/or its licensors own all the intellectual property rights and materials contained in this Website.</span></p>
  <p class="p10"><span class="s1">You are granted limited license only for purposes of viewing the material contained on this</span></p>
  <p class="p7"><span class="s1">Website.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Restrictions</strong></span></p>
  <p class="p7"><span class="s1">You are specifically restricted from all of the following</span></p>
  <p class="p11"><span class="s1">●<span class="Apple-converted-space">&nbsp; &nbsp; </span>publishing any Website material in any other media;</span></p>
  <p class="p11"><span class="s1">●<span class="Apple-converted-space">&nbsp; &nbsp; </span>selling, sublicensing and/or otherwise commercializing any Website material;</span></p>
  <p class="p11"><span class="s1">●<span class="Apple-converted-space">&nbsp; &nbsp; </span>publicly performing and/or showing any Website material;</span></p>
  <p class="p11"><span class="s1">●<span class="Apple-converted-space">&nbsp; &nbsp; </span>using this Website in any way that is or may be damaging to this Website;</span></p>
  <p class="p11"><span class="s1">●<span class="Apple-converted-space">&nbsp; &nbsp; </span>using this Website in any way that impacts user access to this Website;</span></p>
  <p class="p12"><span class="s1">● using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;</span></p>
  <p class="p12"><span class="s1">● engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;</span></p>
  <p class="p4"><span class="s1">●<span class="Apple-converted-space">&nbsp; &nbsp; </span>using this Website to engage in any advertising or marketing.</span></p>
  <p class="p13"><span class="s1">Certain areas of this Website are restricted from being access by you and Prisme LLC may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.</span></p>
  <p class="p15"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Your Content</strong>In these Website Standard Terms and Conditions, &ldquo;Your Content&rdquo; shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Prisme LLC a non-exclusive, worldwide, irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.</span></p>
  <p class="p10"><span class="s1">Your Content must be your own and must not be invading any third-party&rsquo;s rights. Prisme LLC</span></p>
  <p class="p7"><span class="s1">reserves the right to remove any of Your Content from this Website at any time without notice.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>No warranties</strong></span></p>
  <p class="p13"><span class="s1">This Website is provided &ldquo;as is,&rdquo; with all faults, and Prisme LLC express no representations or warranties, of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website shall be interpreted as advising you.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Limitation of liability</strong></span></p>
  <p class="p13"><span class="s1">In no event shall Prisme LLC, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.<span class="Apple-converted-space">&nbsp; </span>Prisme LLC, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Indemnification</strong></span></p>
  <p class="p13"><span class="s1">You hereby indemnify to the fullest extent Prisme LLC from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Severability</strong></span></p>
  <p class="p13"><span class="s1">If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Variation of Terms</strong></span></p>
  <p class="p10"><span class="s1">Prisme LLC is permitted to revise these Terms at any time as it sees fit, and by using this</span></p>
  <p class="p7"><span class="s1">Website you are expected to review these Terms on a regular basis.</span></p>
  <p class="p15"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Assignment</strong>The Prisme LLC is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Entire Agreement</strong></span></p>
  <p class="p13"><span class="s1">These Terms constitute the entire agreement between Prisme LLC and you in relation to your use of this Website, and supersede all prior agreements and understandings.</span></p>
  <p class="p4"><span class="s1">1. <span class="Apple-converted-space">&nbsp; </span><strong>Governing Law &amp; Jurisdiction</strong></span></p>
  <p class="p16"><span class="s1">These Terms will be governed by and interpreted in accordance with the laws of the State of CA, and you submit to the non-exclusive jurisdiction of the state and federal courts located in CA for the resolution of any disputes.</span></p>
  <div style="display: none;">&nbsp;</div>
</ion-content>
