ion-button{
  position: relative;
  margin: 1rem 1rem;
  z-index: 100;
  --border-radius: 1.3vw;
}

.group{
  z-index: 999;
  position: relative;
  padding: 0 1rem;

  ion-item{
    --border-radius: 1.3vw;
    margin: 0 0.1rem;
    margin-top: 0.5rem;
    --background: rgba(120,120,120,0.2);
    &.active{
      --background: rgba(241,112,34,0.4);
    }
    &.active-sub{
      --background: rgba(241,112,34,0.2);
    }
    img{
      position: absolute;
      right: 1rem;
      top: 20%;
      height: 60%;
    }
  }
}
